<!-- home.html --> 
<!doctype html> 
<meta charset = 'utf-8'>
<html lang="ko">
   <head> 
      <title>Pyinder</title>
      <style type="text/css">
         body{ text-align: center; }
      </style>
   </head>
   <body>
         <form action = "/search" method = "POST">
               <h1>Pyinder</h1>
               원하는 태그를 검색해보세요<br>
            <textarea tag = 'input' cols="20" rows="1" placeholder="ex) 파이썬, 입문자", style="resize: none;"></textarea><br><br>
            <input type = "submit" value = "검 색" /><br>
         </form>
   </body> 
</html>

