<!-- home.html --> 
<!doctype html> 
<meta charset = 'utf-8'>
<html lang="ko">
   <head> 
      <title>Pyinder</title>
      <style type="text/css">
         body{ text-align: center; }
         /*div#container {*/
         /*   position: absolute;*/
         /*   border: solid 1px gray;*/
         /*   top: 50%; left: 50%;*/
         /*   width: 300px; height: 160px;*/
         /*   margin-left: -200px;*/
         /*   margin-top: -100px;*/
         /*}*/
      </style>
   </head> 
   <body>

         <form action = "/search" method = "POST">
<!--            <div id="container">-->
               <h1>Pyinder</h1>
               원하는 태그를 검색해보세요<br>
            <textarea name = "context" cols="20" rows="1" placeholder="ex) 파이썬, 초보 ", style="resize: none;"></textarea><br><br>
            <input type = "submit" value = "검 색" /><br>
         </form> 
<!--      </div>-->
   </body> 
</html>

