<!doctype html>
<meta charset = 'utf-8'>
<html lang="ko">
	<head>
		<title>Pyinder Result</title>
		<style type="text/css">
			body{ text-align: center; }
		</style>
	</head>
	<body>
		<h1>Pyinder Result</h1>
		<h4>검색하신 "{{data[1]}}"에 대한 결과입니다</h4>
		<p id = content>{{data[0]}}</p>

		<script type = "text/javascript" >
		var ps = document.getElementById('content');
		var i ;
		var nw = ps.innerText.split(":");
		for (i = 0 ; i < ps.length ; i++) {
			console.log(nw)
		}
		</script>


		</body>
</html>
